.Hero-section{
    background-image: url(herosection.jpg);
    background-size: cover;
    width: 100%;
    height: 300px;
}
/* store Accessiores Box */
.shop-Section{
    display: flex;
    justify-content: space-evenly;
    background-color: #c9d1da;
    
}
.box{
    height: 500px;
    width: 23%;   
    background-color: white; 
    padding: 20px 0px 15px;
    margin-top: 10px;
}
.img1{
    height: 360px;
    background-size: cover;
}
.box-cont{
    margin-left: 10px;
    margin-right: 10px;
}
.box-cont a{
    display: block;

    margin-top: 10px;
    padding-top: 30px;

    color: #146eb4;

    font-size: 20px;

    text-decoration: none;
}

/* next content  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* BODY */

body {
    font-family: Arial, sans-serif;
    background-color: #c9d1da;
}


/* MAIN SHOP SECTION */

.shop-section {
    display: flex;
    justify-content: space-between;

    gap: 30px;

    background-color: #c9d1da;

    /* LEFT + RIGHT WALL GAP */
    padding: 5px 20px;
}


/* 4 BIG BOXES */

.shop-card {
    width: 23%;
    min-height: 630px;

    background-color: white;

    padding: 20px 15px 15px;

    margin-top: 10px;

    display: flex;
    flex-direction: column;
}


/* HEADING */

.shop-card h2 {
    font-size: 30px;
    line-height: 1.2;
    /* Same heading height for all boxes */
    min-height: 72px;
}


/* 2 x 2 GRID */

.items {
    display: grid;

    grid-template-columns: 1fr 1fr;

    column-gap: 20px;
    row-gap: 30px;
}


/* INDIVIDUAL ITEM */

.item {
    width: 100%;
}


/* IMAGE */

.item img {
    width: 100%;
    height: 174px;

    object-fit: cover;

    display: block;
}


/* TEXT BELOW IMAGE */

.item p {
    margin-top: 3px;

    font-size: 18px;

    color: rgb(76, 93, 96);
}


/* BOTTOM LINK */

.shop-card a {
    display: block;

    margin-top: auto;
    padding-top: 30px;

    color: #146eb4;

    font-size: 20px;

    text-decoration: none;
}


/* HOVER EFFECT */

.shop-card a:hover {
    text-decoration: underline;
}